body {
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/* navbar */

.navbar {
    background-color: brown;
    font-size: 25px;
}

button .navbar-toggler {
    background-color: rgb(7, 7, 7);
}

.nav-link {
    padding: 3px;
    display: block;
    color: rgb(224, 240, 240);
    text-decoration: underline;
}

.navbar-brand {
    background-color: bisque;
    padding: 10px;
    color: black;
}

.navbar-nav {
    border-color: black;
}

.nav-item a:link {
    background-color: transparent;
    text-decoration: none;
    margin: 10px;
}


/* corousel */

#carouselExampleControls {
    margin: 50px;
    border-color: cadetblue;
}

.d-block {
    height: 500px;
    width: 100%;
    border: 5px solid rgb(14, 13, 13);
}

.carousel-caption {
    font-size: 25px;
    text-align: justify;
    margin: 20px;
    background-color: rgba(248, 248, 248, 0.589);
    font-weight: 500;
}

.carousel-caption h2,
li,
ul {
    color: black;
    font-weight: 20px;
}


/* cards */

#card {
    margin: 10px;
    padding: 10px;
    background-color: rgba(226, 45, 45, 0.1);
    border: 1px solid rgb(192, 71, 71);
}

.card1 {
    margin: 10px;
    padding: 10px;
}

.card-img-top {
    width: 100px;
    height: 300px;
    padding: 10px;
}


/*footer  */

footer {
    margin-top: 100px
}


/* vertical line after the corousel */

.vl {
    border-top: 6px solid brown;
    height: 90px;
}


/* customer  button */

.customer {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#btn {
    font-size: 35px;
}